In [71]:
import pandas as pd
import numpy as np

bank_loan_data=pd.read_csv('bank_loan_data.csv')
print('data is load in successfull')

data is load in successfull

In [72]:
bank_loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loan_id           40000 non-null  int64
 1   customer_id       40000 non-null  int64
 2   gender            38417 non-null  object
 3   age               38870 non-null  float64
 4   income            38836 non-null  float64
 5   loan_amount       38716 non-null  float64
 6   loan_status       37972 non-null  object
 7   credit_history    37938 non-null  float64
 8   application_date  40000 non-null  object
dtypes: float64(4), int64(2), object(3)
memory usage: 2.7+ MB

In [73]:
bank_loan_data.head()

,loan_id,customer_id,gender,age,income,loan_amount,loan_status,credit_history,application_date
0,1001,5001,M,34.0,100000.0,80000.0,Rejected,1.0,2020-01-01 00:00:00.000000000
1,1002,5002,F,25.0,30000.0,180000.0,Rejected,1.0,2020-01-01 00:39:25.259131478
2,1003,5003,F,26.0,115000.0,200000.0,Approved,1.0,2020-01-01 01:18:50.518262956
3,1004,5004,F,29.0,105000.0,180000.0,Rejected,1.0,2020-01-01 01:58:15.777394434
4,1005,5005,M,30.0,110000.0,180000.0,Rejected,1.0,2020-01-01 02:37:41.036525913

In [74]:
bank_loan_data.nunique()

loan_id             40000
customer_id         40000
gender                  2
age                    44
income                 20
loan_amount            25
loan_status             2
credit_history          2
application_date    40000
dtype: int64

In [75]:
bank_loan_data.isnull().sum()

loan_id                0
customer_id            0
gender              1583
age                 1130
income              1164
loan_amount         1284
loan_status         2028
credit_history      2062
application_date       0
dtype: int64

In [76]:
bank_loan_data=bank_loan_data.fillna({'age':21, 'gender':'unknown','income':25000,'loan_amount':0,'loan_status':'pending','credit_history':-1})

In [77]:
bank_loan_data.isnull().sum()

loan_id             0
customer_id         0
gender              0
age                 0
income              0
loan_amount         0
loan_status         0
credit_history      0
application_date    0
dtype: int64

In [78]:
bank_loan_data['age']=bank_loan_data['age'].astype('int64')

In [79]:
bank_loan_data['credit_history']=bank_loan_data['credit_history'].astype('int64')

In [80]:
bank_loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loan_id           40000 non-null  int64
 1   customer_id       40000 non-null  int64
 2   gender            40000 non-null  object
 3   age               40000 non-null  int64
 4   income            40000 non-null  float64
 5   loan_amount       40000 non-null  float64
 6   loan_status       40000 non-null  object
 7   credit_history    40000 non-null  int64
 8   application_date  40000 non-null  object
dtypes: float64(2), int64(4), object(3)
memory usage: 2.7+ MB

In [81]:
bank_loan_data.nunique()

loan_id             40000
customer_id         40000
gender                  3
age                    44
income                 20
loan_amount            26
loan_status             3
credit_history          3
application_date    40000
dtype: int64

In [82]:
bank_loan_data.to_csv('bank_loan_data_clean_python.csv', index=False)
print('successfull save the data')

successfull save the data